@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #fff;
}

/*Navbar**************************************/
nav{
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    margin-top: -20px;
    z-index: 1;
    background-color: #ffffff;
    border-bottom: 2px solid #04b2dc;
}

nav:after{
    clear: both;
    content: "";
    display: block;
}

.nav-container{
    max-width: 1200px;
    position: relative;
    margin-right: 50px;
    margin-left: 50px;
}

#logo{
    width: 98px;
    height: 70px;
    margin-top: 25px;
}

.nav-container ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container li{
    list-style: none;
    float: left;
    margin: 10px 25px;
}

.nav-container li a{
    text-decoration: none;
    color: #666;
    transition: 0.5s;
    font-weight: bold;
}

.nav-container li a:hover{
    color: #3381F3;
    text-shadow: 0.1em 0.1em 0.2em #04b2dc;
    border-bottom: 2px solid #04b2dc;
}


/*Banner*/
#main-banner{
    background: url('../img/img12.jpg') no-repeat;
    background-size: cover;
    background-position: 0 55% 10%;
    position: relative;
    margin-top: 0px;
    height: 500px;
}

#main-banner-home{
    background: url('../img/Maldivas.jpg') no-repeat;
    background-size: cover;
    background-position: 0 55% 10%;
    position: relative;
    margin-top: 0px;
    height: 500px;
}

#search-form{
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;
    padding-bottom: 15em;
    text-align: center;
}

#search-form h1{
    font-size: 40px;
    color: #ffff;
    font-weight: 200;
}

#search-form p{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300;
    color: #ffff;
}

#search-form input, #search-form select{
    background-color: #FFF;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
}

/****************************************/

/*blog section*********************************/
#blog-container{
    text-align: center;
    padding: 3em 0;
}

.article-box{
    position: relative;
    display: inline-block;
    width: 31%;
    padding: 0 1%;
    text-align: left;
    margin: 20px 0 20px;
}

.article-box img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.article-box h4{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 8px;
    margin-top: 10px;
}

.article-resume{
    font-size: 14px;
    margin-bottom: 30px;
}

.article-box h4 a{
    text-decoration: none;
    color: #666;
}

.btn{
    position: relative;
    display: inline-block;
    background: #03a9f4;
    background: #03a9f4;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    background-color: #3381F3;
    border-color: #3381F3;
    color: #FFF;
}

.btn:hover{
    background-color: #19EA8D;
    color: #FFF;
}

/*Form travel*******************************************/
.heading{
  text-align: center;
  padding: 40px 0;
}

.heading span{
  font-size: 35px;
  background: #E0F7F8;
  color: #3381F3;
  border-radius: 10px;;
  padding: 8px 10px;;    
}

.heading span.space{
  background:none;
}


.row-form{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.container-book .row-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-book .row-form .image img{
  width:100%;
}

.container-book .row-form form{
    flex-wrap: wrap;
    padding: 30px;
    width: 500px;
    box-shadow: 0 1px 50px rgba(0,0,0,.1);
    border-radius: 10px;
}

.container-book .row-form form .inputBox input{
    width:100%;
    padding:5px;;
    border: 1px solid rgba(0,0,0,.1);
    font-size: 22px;
    color:#333;
    text-transform: none;
    border-radius: 5px;
}

.container-book .row-form form .inputBox input:focus{
    color: #0DEFCF;
    outline: none !important;
    border-color: #0DEFCF;
    box-shadow: 0 0 1px #0DEFCF;
}

.container-book .row-form form .inputBox input:placeholder-shown{
    font-weight: 300;
}

.container-book .row-form form .inputBox h3{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding:10px 0;
    color:#666;
}

.btn-sub{
    padding-top: 15px;
}

.btn-sub input{
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 200;
    background-color: #3381F3;
    border: 0px;
    border-color: #3381F3;
    padding: 5px 20px;
    text-shadow: none;
    cursor: pointer;
}

.btn-sub input:hover{
    background-color: #0DEFCF;
}


/*****************************************/
/* About Section */

.about{
    width: 100%;
    height: 400px;
    background-color: #161922;
    display: flex;
    justify-content: center;
    align-items: center;
   /* border-bottom-right-radius: 1800px;
    border-top-right-radius: 500px;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;*/
}

.about .content-about img{
    height: 300px;
    width: 300px;
    max-width: 100%;
}

.text-about{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.content-about{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text-about h1{
    color: #3381F3;
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.text-about h5{
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.text-about p{
    color: #c0c4d6;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

.text-about .btn-about{
    position: relative;
    display: inline-block;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    background-color: #3381F3;
    border-color: #3381F3;
    color: #FFF;
    bottom: -17px;
    padding: 8px 40px;
}

.text-about .btn-about:hover{
    background-color: #19EA8D;
    color: #FFF;
}


/*.about-left,
.about-middle,
.about-right {
    flex-basis: 30%;
    padding: 1.6rem;
}
*/


/*.btn {

    background-color: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
    margin: 2rem 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}*/
/*



.about2 .row{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin: auto;
}

.about2 {
    background-color: #222;
    color: whitesmoke;
}

.about2-left {
    flex-basis: 40%;
}

.about2-right {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about2 .card {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    color: #222;
    background-color: #DCDCDC;
    margin: 40px;
    text-align: center;
}
*/
/********************************/
.packages .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 70px;
    margin-top: 10px;
}

.packages .box-container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 2 16rem;
    overflow: hidden;
    width: 300px;
    height: 475px;
    margin: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);
}

.packages .box-container .box-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 2 16rem;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 300px;
    height: 480px;
    margin: 10px;
    border: 5px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.packages .box-container .box img{
    margin-top: -15px;
    height: 55%;
    width: 100%;
    object-fit: cover;
}

.packages .box-container .box-card img{
    margin-top: -50px;
    height: 60%;
    width: 100%;
    object-fit: cover;
}

.packages .box-container .box-card .content h3{
    font-size: 20px;
    margin-top: -80px;
    color:#333;
}

.packages .box-container .box .content{
    margin-top: 85px;
    padding: 37px 0 0 25px;
}

.packages .box-container .box .content h3{
    font-size: 20px;
    margin-top: -130px;
    color:#333;
}

.packages .box-container .box .content p{
    font-size: 15px;
    color:#666;
    padding: 5px;
}
.packages .box-container .box .content h3 i{
  color: #3381F3;
}

.packages .box-container .box .content .stars i{
    font-size: 15px;
    color: #3381F3;
}

.packages .box-container .box .content .price{
    font-size: 16px;
    color:#333;
    padding-top: 2.5px;
}

.packages .box-container .box .content .price span{
    color:#666;
    font-size: 16px;
    text-decoration: line-through;
}

.packages .box-container .box-card .content h3{
    font-size: 25px;
    margin-top: -20px;
    color:#333;
    padding-left: 10px;
    padding-top: 5px;
}

.packages .box-container .box-card .content p{
    font-size: 16px;
    color:#666;
    bottom: 15px;
    padding: 15px;
}
.packages .box-container .box-card .content h3 i{
    color: #3381F3;
}

.packages .box-container .box-card .content .stars i{
    font-size: 18px;
    color: #3381F3;
    padding-left: 20px;
    margin: -10px;
}

.packages .box-container .box-card .content .price{
  font-size: 18px;
  color:#333;
  padding-top: 8px;
  padding-left: 10px;
}

.packages .box-container .box-card .content .price span{
  color:#666;
  font-size: 16px;
  text-decoration: line-through;
}

.btn{
    position: relative;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background-color: #3381F3;
    border-color: #3381F3;
    color: #FFF;
    bottom: -5px;
    padding: 6px 18px;
}

.btn:hover{
    background-color: #19EA8D;
    color: #FFF;
}

.btn-card{
    position: relative;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background-color: #3381F3;
    border-color: #3381F3;
    color: #FFF;
    bottom: -5px;
    left: 15px;
    padding: 8px 20px;
}

.btn-card:hover{
    background-color: #19EA8D;
    color: #FFF;
}


/*********************************************/
/*Section*/
.row-tours{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 15px;
}

.content-col{
    width: 35%;
}

.image-col{
    width: 65%;
}

.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.image-gallery img{
    max-width: 300px;
    margin: 10px;
}

.content-col h1{
    margin: 39px;
    padding: 25px;
    padding-left: 20px;
    font-size: 30px;
    color: #484872;
}

.content-col p{
    padding: 0;
    margin: 30px;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
}

.content-col .btn-tours{
    top: 10px;
    margin-left: 150px;
    padding: 10px 10px;
    background: #03a9f4;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background-color: #3381F3;
    border-color: #3381F3;
    color: #FFF;
}

.content-col .btn-tours:hover{
    background-color: antiquewhite;
}

/*Footer***************************************/
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 60px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #04b2dc;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #04b2dc;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #04b2dc;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

